/* aqui é o css parte visual do site */
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
.navegacao {
  display: flex;
  gap: 25px;
  list-style-type: none;
  justify-content: flex-end;
  padding: 10px;
  margin: auto;
  width: 90%;
}
.container {
  border: 10px solid rgb(25, 0, 255);
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  background-image: url("../imagens/AE86.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
  min-height: 100vh;
  background-color: black;
}
a {
  text-decoration: none;
  font-size: 25px;
  color: hsl(240, 100%, 50%);
}
a:hover {
  color: red;
  transform: scale(1.1);
}
li:hover {
  transform: scale(1.3);
}
.titulo {
  color: #0000ff;
  font-size: 60px;
  text-align: center;
}
.metal {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}
.descricao {
  width: 50%;
  font-size: 20px;
  color: azure;
}
.buttonjoin {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 15px;
  font-size: 25px;
  color: azure;
  margin-top: 200px;
}
.formpage {
  background-image: url("../imagens/Back2.avif");
}
.form {
  border: 1px solid blue;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
  color: #0000ff;
  padding: 70px;
  background-color: rgba(0, 0, 0, 0.712);
  min-width: 390px;
}
.forminput {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 8px;
  margin-top: 5px;
  height: 30px;
  background-color: #0000ff21;
  color: azure;
}
.buttonform {
  margin-top: 30px;
}
.sobrenos {
  background-color: rgba(0, 0, 0, 0.788);
  padding: 16px;
}
.dadosdisplay {
  border-radius: 15px;
  padding: 20px;
}
